@model EasyAppointments.Services.DTOs.DoctorDTOs.ViewModelDoctorProfile
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/doctor-profile-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2024 03:27:39 GMT -->
<head>
	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
	<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
	<meta property="og:url" content="../index.html">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta property="og:image" content="/Assets/UserAssets/img/preview-banner.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="../index.html">
	<meta property="twitter:url" content="../index.html">
	<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="twitter:image" content="/Assets/UserAssets/img/preview-banner.jpg">

	<link href="/Assets/UserAssets/img/favicon.png" rel="icon">

	<link rel="stylesheet" href="/Assets/UserAssets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/Assets/UserAssets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/Assets/UserAssets/plugins/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/Assets/UserAssets/css/feather.css">

	<link rel="stylesheet" href="/Assets/UserAssets/plugins/select2/css/select2.min.css">

	<link rel="stylesheet" href="/Assets/UserAssets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

	<link rel="stylesheet" href="/Assets/UserAssets/css/custom.css">

</head>
<body>

	<div class="main-wrapper">

		<header class="header header-custom header-fixed header-one">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a href="index-2.html" class="navbar-brand logo">
							<img src="/Assets/UserAssets/img/Easy Appointment Logo-01.png" style="width:201px;height:52px" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="@Url.Action("Index","Home",new{area="Shared"})">HOME</a>
							</li>
							<li class="has-submenu">
								<a href="#">DOCTORS</a>
								<ul class="submenu">
									<li>Find Doctor By Specialities</li>
									<li><a href="doctor-dashboard.html">General Practitioner (GP)</a></li>
									<li><a href="appointments.html">Family Medicine Specialist</a></li>
									<li><a href="available-timings.html">Internal Medicine Specialist (Internist)</a></li>
									<li><a href="my-patients.html">Neurologist</a></li>
									<li><a href="patient-profile.html">Neurosurgeon</a></li>
									<li><a href="chat-doctor.html">Psychiatrist</a></li>
									<li><a href="invoices.html">Cardiologist</a></li>
									<li><a href="doctor-profile-settings.html">Cardiothoracic Surgeon</a></li>
									<li><a href="reviews.html">Vascular Surgeon</a></li>
									<li><a href="doctor-register.html">Pulmonologist (Chest Specialist)</a></li>

								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">HOSPITALS</a>
								<ul class="submenu">
									<li><a href="patient-dashboard.html">KP Hospitals</a></li>
									<li><a href="patient-dashboard.html">Punjab Hospitals</a></li>
									<li><a href="patient-dashboard.html">Balochistan Hospitals</a></li>
									<li><a href="patient-dashboard.html">Sindh Hospitals</a></li>
									<li><a href="patient-dashboard.html">Giligit Hospitals</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">BLOGS</a>
							</li>

						</ul>
					</div>
					@await Html.PartialAsync("_RightNavBar", Model.DoctorDto)
				</nav>
			</div>
		</header>

		@await Html.PartialAsync("_Breadcrumb", Model.BreadcrumbDto)
		<div class="content doctor-content">
			<div class="container">
				<div class="row">
					@await Html.PartialAsync("_DoctorSideBar", Model.DoctorDto)
					@RenderBody()
				</div>
			</div>
		</div>


		<footer class="footer pharmacy-footer">
			<div class="container">
				<div class="top-footer">
					<div class="footer-logo">
						<a href="index-2.html"><img src="/Assets/UserAssets/img/logo.png" alt="logo"></a>
					</div>
					<div class="doccure-info">
						<p>
							Doccure is one of India’s most trusted pharmacies, dispensing quality medicines
							at reasonable prices to over 9 million happy customers
						</p>
					</div>
				</div>
				<div class="mid-footer">
					<div class="row">
						<div class="col-xl-2 col-lg-3 col-md-4">
							<div class="footer-links">
								<h4>Company</h4>
								<ul class="pages-links">
									<li><a href="about-us.html">About Doccure</a></li>
									<li><a href="javascript:void(0);">Customers Speak</a></li>
									<li><a href="javascript:void(0);">In the News</a></li>
									<li><a href="javascript:void(0);">Career</a></li>
									<li><a href="contact-us.html">Contact</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4">
							<div class="footer-links">
								<h4>Shopping</h4>
								<ul class="pages-links">
									<li><a href="javascript:void(0);">Browse by A-Z</a></li>
									<li><a href="javascript:void(0);">Browse by Manufacturers</a></li>
									<li><a href="javascript:void(0);">Health Articles</a></li>
									<li><a href="javascript:void(0);">Offers / Coupons</a></li>
									<li><a href="faq.html">FAQs</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4">
							<div class="footer-links">
								<h4>Our Policies</h4>
								<ul class="pages-links">
									<li><a href="terms-condition.html">Terms and Conditions</a></li>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="javascript:void(0);">Fees and Payments</a></li>
									<li><a href="javascript:void(0);">Shipping and Delivery</a></li>
									<li><a href="javascript:void(0);">Return, Refund </a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-4">
							<div class="footer-links">
								<h4>Our Services</h4>
								<ul class="pages-links">
									<li><a href="javascript:void(0);">Order Medicines</a></li>
									<li><a href="javascript:void(0);">Book Lab Tests</a></li>
									<li><a href="javascript:void(0);">Consult a Doctor</a></li>
									<li><a href="javascript:void(0);">Ayurveda Articles</a></li>
									<li><a href="javascript:void(0);">Careers</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-8">
							<div class="footer-links">
								<h4>Subscribe to Newsletter</h4>
								<form action="#">
									<div class="input-block">
										<input type="email" class="form-control" placeholder="Enter Email Address">
										<button type="submit" class="submit-btn">Submit</button>
									</div>
								</form>
								<div class="app-store-links">
									<a href="javascript:void(0);"><img src="/Assets/UserAssets/img/icons/app-store.svg" alt="Img"></a>
									<a href="javascript:void(0);"><img src="/Assets/UserAssets/img/icons/google-play.svg" alt="Img"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mid-foot-two">
					<div class="row align-items-center">
						<div class="col-md-6">
							<ul class="payment-methods d-flex align-items-center">
								<li>
									<a href="javascript:void(0);">
										<img src="/Assets/UserAssets/img/icons/payment-icon-01.svg" alt="Img">
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<img src="/Assets/UserAssets/img/icons/payment-icon-02.svg" alt="Img">
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<img src="/Assets/UserAssets/img/icons/payment-icon-03.svg" alt="Img">
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<img src="/Assets/UserAssets/img/icons/payment-icon-04.svg" alt="Img">
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="social-icons d-flex align-items-center">
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="copy-right text-center">
					<p>Copyright © 2024 Doccure. All Rights Reserved</p>
				</div>
			</div>
		</footer>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="/Assets/UserAssets/js/bootstrap.bundle.min.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>

	<script src="/Assets/UserAssets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>
	<script src="/Assets/UserAssets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>

	<script src="/Assets/UserAssets/plugins/select2/js/select2.min.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>

	<script src="/Assets/UserAssets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>

	<script src="/Assets/UserAssets/js/profile-settings.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>

	<script src="/Assets/UserAssets/js/script.js" type="f0c07cf9f20d79c30aa8c3c6-text/javascript"></script>
	<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="f0c07cf9f20d79c30aa8c3c6-|49" defer></script>
	<style>
		.header-nav .main-nav > li {
			margin-right: 25px; /* Adjust spacing between items */
		}

			.header-nav .main-nav > li > a {
				font-size: 24px !important;
				padding-top: 20px !important;
				padding-bottom: 20px !important;
				display: inline-block;
				color: #000;
				line-height: 1.5;
				vertical-align: middle;
			}

				.header-nav .main-nav > li > a:hover,
				.header-nav .main-nav > li.active > a {
					color: #007bff;
				}
	</style>
	@RenderSection("LoadFiles")
</body>

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/doctor-profile-settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2024 03:27:43 GMT -->
</html>