@model EasyAppointments.Services.DTOs.AdminDTOs.SpecialityDto
@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content container-fluid">

    <div class="page-header">
    </div>


    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Speciality Form</h4>
                    <p class="card-text">Please carefully enter all the required information. Changes are tolerated but they can be exhaustive</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div id="SpecialityFormDiv">
                                @* Div For Rendering Speciality Form *@
                                @await Html.PartialAsync("_EditSpeciality")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="SpecialityListDiv">
        @* Div For Rendering Speciality List *@
    </div>
    @section LoadFiles
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
        <script src="/Assets/AdminAssets/plugins/datatables/jquery.dataTables.min.js" type="beeb7ac533808a44d0b8d2f5-text/javascript"></script>
        <script src="/Assets/AdminAssets/plugins/datatables/datatables.min.js" type="beeb7ac533808a44d0b8d2f5-text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function showConfirmationDialog(action, Id) {
                Swal.fire({
                    title: `Confirmation`,
                    text: 'Are you sure?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, proceed!',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        if (action === 'Submittion') {
                            saveSpeciality();
                        } else if (action === 'Deletion') {
                            deleteSpeciality(Id);
                        }
                    }
                });
            }
            function saveSpeciality() {
                if ($("#FrmSpeciality").valid()) {
                    var frmData = new FormData(document.getElementById('FrmSpeciality'));
                    $.ajax({
                        type: 'post',
                        url: '/Admin/Speciality/Save',
                        processData: false,
                        contentType: false,
                        data: frmData,
                        success: function (result) {
                            debugger;
                            if (result == true) {
                                Swal.fire(
                                    'Success!',
                                    `Operation successfull.`,
                                    'success'
                                );
                            }
                            else{
                            Swal.fire(
                                "Error!",
                                "Error Submitting Form.",
                                "Error"
                            );
                        }
                        }
                    });
                }

            }
            function getSpecialities() {
                debugger;
                $.ajax({
                    type: 'Get',
                    url: '/Admin/Speciality/GetSpecialities',
                    success: function (Result) {
                        $("#SpecialityListDiv").html(Result);
                        $("#ButtonText").text("Show Modified List");
                    }
                });
            }
            function updateSpeciality(id) {
                $.ajax({
                    type: 'Get',
                    url: '/Admin/Speciality/UpdateSpeciality',
                    data: { SpecialityId: id },
                    success: function (Result) {
                        $("#SpecialityFormDiv").html(Result);
                    }
                });
            }
            function deleteSpeciality(id) {
                $.ajax({
                    type: 'Get',
                    url: '/Admin/Speciality/DeleteSpeciality',
                    data: { SpecialityId: id },
                    success: function (Result) {
                        if (Result == true) {
                            Swal.fire(
                                'Success!',
                                `Deleted successfully.`,
                                'success'
                            );
                        }
                         else{
                            Swal.fire(
                                "Error!",
                                "Error Deleting Record.",
                                "Error"
                            );
                        }
                    }
                });
            }

        </script>
    }
</div>
