@model EasyAppointments.Services.DTOs.DoctorDTOs.ClinicDTOs.GetClinicDto
<option>Select City</option>
@foreach (var item in Model.Cities!)
{
    if (Model.CityId == item.Id)
    {
        <option selected value="@item.Id">@item.Name</option>
    }
    else
    {
        <option value="@item.Id">@item.Name</option>
    }
}
